* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 100vh;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: red;
    color: white;
    border-radius: 12px;
    border: 1px white solid;
}

.container {
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 90vh;
    margin: 0 auto;
}
